@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: #ffffff #000000;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
/*
  font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a00;
    --foreground: #ededed65;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-y: scroll;
}
